/**
Theme Name: workcity landing page by patii
Author: Patii
Author URI: https://apata-oluwatobi-portfolio.vercel.app/
Description: Assesment project for Workcity
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: workcity-landing-page-by-patii
Template: astra
*/